header {
	background-color: #FCFA75;
	border-bottom: 1px solid black;


	@keyframes tituloAnimado {
		0% {
			width: 0px;
		}

		25% {
			width: 150px;
		}

		50% {
			width: 200px;
		}

		75% {
			width: 250px;
		}

		100% {
			width: 280px;
		}
	}

	.logo {
		width: 150px;
		height: 150px;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-size: 20px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	a:hover {
		color: black;
		background-color: #F9A419;
	}

	li {
		display: inline;
		list-style: none;
		margin: 10px;


	}
}