main {
	color: black;
	background-color: #A7C0FD;

	//card
	.tamañoCard {
		width: 250px;
		height: 500px;
		margin: 5px;
		padding: 5px;
		border: 2px solid black;

	}

	.imgVianda {
		width: 235px;
		height: 100%;

	}

	.colorBtn {
		background-color: #E7940D;
		color: black;
		border: 2px solid black;
	}

	.colorBtn:hover {
		background-color: #BDA44B;
		color: aliceblue;
	}


	.dia {
		background-color: #E2C149;
		border: 1px solid rgb(51, 48, 2);
	}

	//subtitulos
	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	.tamañoGaleria {
		width: 250px;
		height: 250px;
	}

	.empanadas {
		text-align: left;
	}

	.ubicacionParrafo {
		text-align: $ubicacionParrafo;

	}
	.parrafoViandas{
		margin: 10px;
		padding: 25px;
	}

	//secciones

	.secciones {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 10px;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.seccionesFotos {
		border: 2px solid black;
		text-align: center;
	}

	.seccionVacia {
		border: 2px solid black;
		background-color: blue;
	}

	img {
		width: 100%;
		height: 150px;

	}

	//eventos
	.eventos {
		display: grid;
		grid-template-columns: 50% 50%;
		
	}

	
}